
.App {
  min-height: 100vh;
  display: flex;


}


#main-control{
  width: 100%;

}

.grid{
  margin: auto;
  border-right: 5px;
  box-shadow: 4px 4px 1px rgba(0,0,0,0.5);
  text-align: center;
  }
#turn-off{
  margin: auto;
  border-right: 5px;
  box-shadow: 4px 4px 1px rgba(0,0,0,0.5);
  text-align: center;
}
body{
  background-repeat:repeat;
  background-size: 45%;
}
.button{
  margin: 7px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.drum-pad{
  margin:10px;
  box-shadow: 4px 4px 1px rgba(0,0,0,0.5);
}

.card:hover{
  opacity: 0.4;
}
#instructions{
font-size: 20px;
  text-decoration: none;
}





